.groupsettings {
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 7;
  right: 3rem;
  height: 0;
  width: 100%;
  z-index: 3;
  opacity: 0;
  display: flex;
  background-color: #212b36;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.groupsettings.active {
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 7;
  right: 3rem;
  height: 100%;
  width: 100%;
  z-index: 3;
  opacity: 1;
  display: flex;
  background-color: #212b36;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.addMemberOUterDiv {
  height: 5rem;
  width: 100%;
  border-top: 1px solid #212b36;
  border-bottom: 1px solid #212b36;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  background-color: #161c24;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 1.3rem;
  color: #c4cdd5;
  margin-bottom: 2rem;
}

.groupsettingsmembersdiv {
  background-color: #161c24;
  width: 100%;
  height: fit-content;
  border-radius: 1rem;
  overflow-y: scroll;
}

.addMembers-article {
  background-color: white;
  height: 0%;
  width: 0%;
  position: absolute;
 top: 0rem;
  right: 0rem;
  opacity: 1;
  z-index: -4;
  transition: all 0.4s ease-out;
  background-color: #ffffff1d;
  backdrop-filter: blur(100px);
}

.addMembers-article.active {
  background-color: white;
  height: 100%;
  width: 100%;
  opacity: 1;
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: 12;
  background-color: #ffffff1d;
  backdrop-filter: blur(150px);
}

.addMembers {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1.2rem;
}

.groupsettingsmembers {
  height: 4rem;
  width: 100%;
  border-top: 1px solid #212b36;
  border-bottom: 1px solid #212b36;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  background-color: #161c24;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 1.3rem;
  color: #c4cdd5;
}

.AddMembersButton {
  height: 2.8rem;
  width: 2.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: #2d99ff;
}

.groupsettingsimage {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border-radius: 50%;
}

.gsimagediv {
  height: 6rem;
  width: 6rem;
  border-radius: 1rem;
  background-color: #c4cdd5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.gsimage {
  width: 5.8rem;
  height: 5.8rem;
  border-radius: 1rem;
  object-fit: cover;
}

.gsremovebtn {
  width: 20%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #c4cdd5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-in;
}

.gsremovebtn:hover {
  color: red;
}

.gsexit {
  height: 4rem;
  width: 100%;
  border-top: 1px solid #212b36;
  border-bottom: 1px solid #212b36;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-color: #161c24;
  border-radius: 1rem;
}

.gsexitbtn {
  width: 50%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: red;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1.3rem;
  opacity: 0.8;
  transition: all 0.3s ease-in;
}

.gsexitbtn:hover {
  opacity: 1;
}

.clearchatdiv {
  height: 4rem;
  width: 100%;
  border-top: 1px solid #212b36;
  border-bottom: 1px solid #212b36;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
  background-color: #161c24;
  border-radius: 1rem;
}

.clearchat {
  width: 50%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: darkgoldenrod;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1.3rem;
  opacity: 0.8;
  transition: all 0.3s ease-in;
}

.clearchat:hover {
  opacity: 1;
}
